sudo: required
addons:
  postgresql: "9.5"
language: python
python:
  - "3.6"
before_script:
  - script/setup
  - script/server &
  - until curl --silent --output /dev/null -k https://localhost:8001; do printf '.' && sleep 1; done
script:
  - script/test
services:
  - postgresql
  - docker
env:
  - FLASK_ENV=ci
